@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 90%;
  margin: 20px auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.card-image {
  background-color: hsl(228, 12%, 48%);
  height: 250px;
  background-image: url(/images/image-product-mobile.jpg);
  background-size: cover;
  border-radius: 7px 7px 0 0;
}

.card-info {
  margin: 20px;
}

.category {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);  
}

.name {
  font-size: 32px;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  line-height: 100%;
  margin: 15px 0;
}

.description {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 150%;
}

.price {
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  margin: 20px 0;
}

.new-price {
  font-size: 32px;
  font-family: 'Fraunces', serif;
  font-weight: 500;
  color: hsl(158, 36%, 37%);
  margin-right: 20px;
}

.old-price {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;    
}

button.add-to-cart-btn {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: white;
  padding: 15px;
  cursor: auto;
}

button.add-to-cart-btn:hover {
  background-color: darkgreen;
}